.board {
    font-size: $l-size;
}

.board__table {
    border-collapse: collapse;
}

.board__table__tr__td{
    text-align: center;
    border: gray solid 1px;
    padding: 0;
}

.board__table__tr__td_button{
    width: 5rem;
    height: 5rem;
}

.board__table__tr__td_button[disabled]{
    background: transparent;
}

.board__table__tr__td_button--pause{
    background: black !important;
    color: black;
}

@media (max-width: $desktop-breakpoint) {
    .board {
        display: inline-block;
    }
}