@import '~bootstrap';
@import 'base/base';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');