@import "~@material/textfield/dist/mdc.textfield.css";

html,
body {
  font-family: 'Open Sans', sans-serif !important;
  color: #737373 !important;
}

@-ms-viewport{
  width: device-width;
}

.form-header {
  padding-bottom: 1em;
}

.form-header, h3 {
  font-weight: 800 !important;
}

.icon {
  text-align: center;
}


.footer-contact {
  padding-top: 2em;
}

.footer-title {
  font-weight: 800;
}

input {
  outline: 0;
  border-width: 0 0 2px !important;
  border-radius: 0 !important;
}

.material-icons {
  line-height: .85 !important;
}

.form-action {
  padding-top: 1em !important;
}

.form-link {
  padding-left: 1.25em !important;
}

.form-footer-link {
  padding-top: 1.25em !important;
}

.form-footer-link, a{
  padding-left: 0px !important;
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.icon-before-input  { left:  0px; }
.icon-after-input { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 30px; }

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.btn-primary {
  background-color: #21759c !important;
  border-color: #21759c !important;
}

.btn {
  padding: 4px 20px 4px 20px !important;
}

.no-right-padding {
  padding-right: 0px !important;
}
